@page "/student/edit/{Id:int}"
@rendermode InteractiveServer

@using StudentApp.Data
@using StudentApp.Models
@using Microsoft.EntityFrameworkCore

@inject AppDbContext Db
@inject NavigationManager Navigation

<h3>Edit Student</h3>

@if (student == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@student"
              OnValidSubmit="UpdateStudent"
              FormName="EditStudentForm">

        <div class="mb-3">
            <label>Name</label>
            <InputText class="form-control"
                       @bind-Value="student.Name" />
        </div>

        <div class="mb-3">
            <label>Email</label>
            <InputText class="form-control"
                       @bind-Value="student.Email" />
        </div>

        <div class="mb-3">
            <label>Course</label>
            <InputText class="form-control"
                       @bind-Value="student.Course" />
        </div>

        <button type="submit"
                class="btn btn-success">
            Update
        </button>

        <a href="/students"
           class="btn btn-secondary ms-2">
            Cancel
        </a>

    </EditForm>
}

@code
{
    [Parameter]
    public int Id { get; set; }

    private Student? student;

    protected override async Task OnInitializedAsync()
    {
        student = await Db.Students.FindAsync(Id);
    }

    private async Task UpdateStudent()
    {
        await Db.SaveChangesAsync();

        Navigation.NavigateTo("/students");
    }
}